body {
  background-color: white;
  font-family: Inter, serif;
}

.main {
  &__wrapper {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }

  &__chain {
    display: flex;
    font-weight: bold;
    font-size: 32px;

    nav {
      opacity: 0.5;
      font-weight: bold;
      font-size: 32px;
    }

    h1 {
      display: inline;
      font-weight: bold;
      font-size: 32px;
    }
  }
}
